<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kidstart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,212}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{186,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kidstart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,212}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{186,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kidstart.png</string>
            <key>size</key>
            <string>{378,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3379dcad6242ee7231fdad03acd09af:e9ec17ec611c2c6c061b64826bd655a5:c4f632685b97376b0b09b15318580632$</string>
            <key>textureFileName</key>
            <string>kidstart.png</string>
        </dict>
    </dict>
</plist>
