<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,21},{180,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,21},{180,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,21},{180,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cry.png</string>
            <key>size</key>
            <string>{548,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41a785a7f6d78d26df57ba08cf5659a:a9fb61ca10d982de7869249abe8f9617:063369fcb1ec802c5efb9e4bbf693148$</string>
            <key>textureFileName</key>
            <string>cry.png</string>
        </dict>
    </dict>
</plist>
