<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy_Run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,812}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,812}}</string>
                <key>sourceSize</key>
                <string>{497,812}</string>
            </dict>
            <key>Enemy_Run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{497,812}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,812}}</string>
                <key>sourceSize</key>
                <string>{497,812}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a.png</string>
            <key>size</key>
            <string>{501,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88024f8baadce193ae9a291d9453946d:3e00f79d05ca26bc4eebb7baa21872ae:3fe7819918ccd8b069678b9f17b4fc07$</string>
            <key>textureFileName</key>
            <string>a.png</string>
        </dict>
    </dict>
</plist>
