<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninja_dungyen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,201}}</string>
                <key>sourceSize</key>
                <string>{123,201}</string>
            </dict>
            <key>ninja_dungyen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{123,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,201}}</string>
                <key>sourceSize</key>
                <string>{123,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninja_dungyen.png</string>
            <key>size</key>
            <string>{127,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25f9884133c63e0db7500137ae1326af:e28796fd987ee2be740986e4d40ddc73:8598fe69335cc6006379432f7496fbbf$</string>
            <key>textureFileName</key>
            <string>ninja_dungyen.png</string>
        </dict>
    </dict>
</plist>
