<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{400,382}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,34},{400,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>test2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{322,370}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{322,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>test3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,436}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{450,436}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>test4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{338,370}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,40},{338,370}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>test5.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{494,380}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{494,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninjaattack.png</string>
            <key>size</key>
            <string>{1998,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b7c04b3a5fb1874c59a28bfc6774b05:4fec38f749f8691ca392ebd8ededd354:8f60f6d465b2c1e0451a0ec22b58d463$</string>
            <key>textureFileName</key>
            <string>ninjaattack.png</string>
        </dict>
    </dict>
</plist>
