<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,212}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{186,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>kid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{180,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,21},{180,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>per.png</string>
            <key>size</key>
            <string>{372,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83bf110bde6e60e5305758162cca4dc3:f28b6b5a86f3c002a30ad6a48b304471:605ec2c10cb836a0ebe6cb9a1abd59ea$</string>
            <key>textureFileName</key>
            <string>per.png</string>
        </dict>
    </dict>
</plist>
